*{
    font-family: sans-serif;
    color: black;
    margin: 2px;
    padding: 2px;
    
}


#titulo {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(3, 0, 0);
    text-shadow: 8px 10px 10px rgb(243, 196, 211);
    font-size: 50px;
    
}

.par{
    font-size: 35px;
}
.tema {
    color: rgba(10, 2, 9, 0.884);
    text-align: center;
    font-size: 35px;
    
}

#fondo {
    background-color: rgb(238, 138, 191);
    height: 100px;
    background-size: contain;
}

#tit{
    color: black;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    text-shadow: 5px 8px 8px brown;
    font-size: 50px;
}
div.galeria{
    margin: 10px 15px;
    box-shadow: 0 4px 8px 0 blueviolet;
    float: left;
    width: 250px;
}
div.galeria img{
    width: 100%;
    height: auto;
    cursor: pointer;
}
div.galeria:hover{
    border: 1px solid blueviolet;
    transform: rotate(5deg);
}
div.pie{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 5px;
    font-size: 20px;
}
.inicio{
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    text-shadow: 8px 10px 10px rgb(243, 196, 211);
}
#parr{
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    padding: 5px;
}

.loog{
    margin: 80px;
    width: 500px;
    float: left;
    border-radius: 50%;
    
}
.parr{
    text-align: right;
    font-size: 38px;
    font-family: sans-serif;
    color: rgb(8, 8, 8);
    height: 45vh !important;
    background-color: rgb(238, 156, 197);
    
}

.head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 90px;
    background: rgb(34, 1, 27);
    position: fixed;
    width: 98%;
    z-index: 100;
    border-radius: 15px;
}

.navbar{
    display: flex;
    margin-right: 10px;
}

.log{
    margin-left: 50px;
}
.log a {
    text-decoration: none;
    color: white;
    font-size: 30px;
}

.navbar a {
    display: block;
    padding: 25px 23px;
    color: white;
    text-decoration: none;
    font-size: 40px;
}

.navbar a:hover{
    background: rgb(85, 8, 68);
}

.testimonios{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(3, 0, 0);
    text-shadow: 8px 10px 10px rgb(243, 196, 211);
    font-size: 50px;
    text-align: center;
}

.i{
    height: 40vh !important;
    background-color: rgb(238, 138, 191);
}
.txt{
    font-family: sans-serif;
    font-size: 40px;
    text-align: center;
}
.test{
    background-position: center;
    margin: 5px 10px;
    padding: 5px;
    box-shadow: 0 4px 8px 0 blueviolet;
    float: center;
    width: 550px;
    margin: 80px;
    border-radius: 15px;
}

.text{
    font-size: 50px;
    font-family: sans-serif;
    text-align: center;
}

.testi{
    width: 550px;
    margin: right;
    margin: 5px 10px;
    padding: 5px;
    box-shadow: 0 4px 8px 0 blueviolet;
    float: center;
    width: 550px;
    margin: 80px;
    border-radius: 15px;
}

 .a{
    border-left: 5px;
    height: 65vh !important;
    background-color: rgb(238, 156, 197);
 }   

.o{
    border-left: 5px;
    height: 60vh !important;
    background-color: rgb(238, 138, 191);
    text-shadow: 8px 10px 10px rgb(243, 196, 211);
}

.agenda{
    font-size: 40px;
    font-family: sans-serif
    
}